<!DOCTYPE html><html><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><link rel=icon href=./favicon.ico><title>EOS Begin</title><script src=https://s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-55576.js></script><script>var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://eosbegin.innocraft.cloud/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();</script><link as=style href=/css/app.cd6f941e.css rel=preload><link as=style href=/css/chunk-vendors.82714cfa.css rel=preload><link as=script href=/js/app.60b8f5cb.js rel=preload><link as=script href=/js/chunk-vendors.42a82cfa.js rel=preload><link href=/css/chunk-vendors.82714cfa.css rel=stylesheet><link href=/css/app.cd6f941e.css rel=stylesheet></head><body><noscript><strong>Error: JavaScript is Not Enabled.</strong></noscript><div id=app></div><script src=https://commerce.coinbase.com/v1/checkout.js></script><script src=/js/chunk-vendors.42a82cfa.js></script><script src=/js/app.60b8f5cb.js></script></body></html>